global-exclude *~ *.py[cod] *.so
prune */app_template
prune */git_hooks
recursive-exclude */app_template *
recursive-exclude */git_hooks *
include LICENSE
include README.md
recursive-include docs *
recursive-include django_api_engine *
global-exclude *~ *.py[cod] *.so